@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-step-arrow {
  border-bottom: 17px solid transparent;
  border-left: 12px solid #ea580c;
  border-top: 18px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  right: -12px;
  top: 50%;
  width: 0;
  margin-top: -18px;
  z-index: 1;

}

.custom-step-arrow2 {
  border-left: 10px solid #ea580c;
}

.custombefore {
  border-bottom: 18px solid transparent;
  border-left: 12px solid #fff;
  border-top: 18px solid transparent;
  content: "";
  height: 0;
  position: absolute;
  left: 0;
  top: 50%;
  width: 0;
  margin-top: -18px;
}

.custom-scrollbar-orange::-webkit-scrollbar {
  width: 6px;
  background-color: #b0b2b4;

}

.custom-scrollbar-orange::-webkit-scrollbar-thumb {
  background-color: #3c83f6;
  border-radius: 50px;

}

/* .custom-scrollbar-orange {
  scrollbar-width: thin;
  scrollbar-color: orange;
}

.custom-scrollbar-orange::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar-orange::-webkit-scrollbar-track {
  background: #ec9625;
}

.custom-scrollbar-orange::-webkit-scrollbar-thumb {
  background-color: rgb(218, 153, 56);
  border-radius: 3px;
} */